<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>examen</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ExamenServlet</display-name>
		<servlet-name>ExamenServlet</servlet-name>
		<servlet-class>controlador.ExamenServlet</servlet-class>
		<init-param>
			<param-name>jdbcDriver</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>dbURL</param-name>
			<param-value>jdbc:mysql://localhost:3306/biblioteca</param-value>
		</init-param>
		<init-param>
			<param-name>dbUserName</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>dbPassword</param-name>
			<param-value>root</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExamenServlet</servlet-name>
		<url-pattern>/controlador/*</url-pattern>
	</servlet-mapping>
	
</web-app>
